<div class="trickle {{_id}} {{_trickle._button._component}}{{#if _trickle._button._isLocking}} is-locked{{/if}}{{#if _trickle._button._isFullWidth}} is-full-width{{/if}}{{#if _trickle._button._className}} {{_trickle._button._className}}{{/if}}">

  {{{a11y_aria_label _globals._extensions._trickle.incompleteContent}}}

  <div class="trickle__inner js-trickle-btn-container {{_trickle._button._component}}__inner {{#if _trickle._button._isLocking}} is-locked{{/if}}{{#unless _trickle._button._isVisible}} u-display-none{{/unless}}">

    <button class="trickle__btn js-trickle-btn {{#if _trickle._button._isDisabled}} is-disabled{{/if}}{{#if _trickle._button._hasIcon}} btn-icon{{/if}}{{#any _trickle._button.finalText _trickle._button.text _trickle._button.startText}} btn-text{{/any}}"{{#if _trickle._button._isDisabled}} disabled="disabled"{{/if}}>

      {{#if _trickle._button._hasIcon}}
      <div class="trickle__btn-icon">
        <div class="icon"></div>
      </div>
      {{/if}}

      {{#any _trickle._button.finalText _trickle._button.text _trickle._button.startText}}
      <div class="trickle__btn-text">
        <div class="trickle__btn-text-inner">
          {{#if _trickle._isFinal}}
            {{#if _trickle._button.finalText}}
              {{{_trickle._button.finalText}}}
            {{else}}
              {{{_trickle._button.text}}}
            {{/if}}
          {{else}}
            {{#if _trickle._isStart}}
              {{#if _trickle._button.startText}}
                {{{_trickle._button.startText}}}
              {{/if}}
            {{else}}
              {{{_trickle._button.text}}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{/any}}

    </button>

  </div>

</div>
